@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 262 83% 74%;
    --primary-foreground: 210 40% 98%;

    --secondary: 280 65% 55%;
    --secondary-foreground: 210 40% 98%;

    --muted: 262 20% 96%;
    --muted-foreground: 262 30% 45%;

    --accent: 262 70% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 83% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 263 75% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 25% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 25% 20%;
    --muted-foreground: 240 5% 95%;

    --accent: 263 50% 30%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 25% 25%;
    --input: 240 25% 25%;
    --ring: 263 75% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}